html {
    font-size: 22px;
}


main {
    font-family: monospace;
}

button, input, textarea, select { 
    font: inherit;
}

h1, h2 {
    color: blue;
}

p {
    color: purple;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}