@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	padding: 5% 10%;
	font-size: 2rem;
	font-family: "Roboto", sans-serif;
}

/* Decimal is default */
ol {
	list-style-type: decimal;
	padding: 0;
}

ul {
	list-style-type: square;
	text-align: center;
	list-style-position: outside;
	color: blue;
	line-height: 1.6;
	list-style-image: url("../image/checkmark.png");
	list-style: square url("../image/checkmark.png") inside;
}

ul li:nth-child(2) {
	color: red;
}

ul ::marker {
	color: red;
	font-family: fantasy;
	font-size: 1em;
	content: "Only $5 >>";
}
